* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6rem;
}

.card-header {
    justify-content: space-between;
    align-items: center;
}

.btn-enviar {
    display: block;
}

#btn-cadastrar {
    
}