* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6rem;
}

.card-header {
    justify-content: space-between;
    align-items: center;
}

.btn-enviar {
    display: block;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centraliza o conteúdo na célula */
}

h3 {
    margin: 0;
}